.adult-container {
  text-align: center;
  padding: 40px 20px;
  background: var(--container-bg);
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.adult-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50px;
  width: 50px;
  height: 100%;
  background: var(--container-bg);
  z-index: -1;
}

@media (max-width: 900px) {
  .adult-container {
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .adult-container {
    padding: 20px 15px;
    flex-direction: column;
  }
}
